{% extends 'base.html' %}

{% block title %}
     Наши контакты
{% endblock %}


{% block content %}
          <div class="container">
               <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                           <img src="../static/image/b1.jpg" class="card-img-top" alt="...">
                           <div class="card-body">
                             <h5 class="card-title">Коновалов Андрей Викторович</h5>
                             <p class="card-text">Тел: +7 918 123 1234 .</p>
                              <p class="card-text">email:  1234556@mail.ru  .</p>
                             <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                           </div>
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                            <img src="../static/image/b55.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Бортников Станислав Валентинович</h5>
                               <p class="card-text">Тел: +7 918 123 1234 .</p>
                              <p class="card-text">email:  1234556@mail.ru.</p>
                              <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                            </div>
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                             <img src="../static/image/b22.jpg" class="card-img-top" alt="...">
                             <div class="card-body">
                                <h5 class="card-title">Наумкин Александр Юрьевич</h5>
                                 <p class="card-text">Тел: +7 918 123 1234 .</p>
                                 <p class="card-text">email:  1234556@mail.ru .</p>
                                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                             </div>
                         </div>
                    </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                             <img src="../static/image/b44.jpg" class="card-img-top" alt="...">
                             <div class="card-body">
                                <h5 class="card-title">Лаврищев Александр Павлович</h5>
                                 <p class="card-text">Тел: +7 918 123 1234 .</p>
                              <p class="card-text">email:  1234556@mail.ru .</p>
                                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                             </div>
                         </div>
                    </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                             <img src="../static/image/b33.jpg" class="card-img-top" alt="...">
                             <div class="card-body">
                                <h5 class="card-title">Пушкин Александр Сергеевич</h5>
                                 <p class="card-text">Тел: +7 918 123 1234 .</p>
                                 <p class="card-text">email:  1234556@mail.ru .</p>
                                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                             </div>
                         </div>
                    </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                         <div class="card" style="width: 18rem;">
                             <img src="../static/image/b77.jpg" class="card-img-top" alt="...">
                             <div class="card-body">
                                <h5 class="card-title">Степанов Александр Александрович</h5>
                                 <p class="card-text">Тел: +7 918 123 1234 .</p>
                                 <p class="card-text">email:  1234556@mail.ru.</p>
                                <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                             </div>
                         </div>
                    </div>

               </div>
          </div>

{% endblock %}
